<div id="title">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
  <p>{{web}}</p>
</div>

  <article class="about">
    <h1>Sobre mi</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus scelerisque porttitor leo eu fermentum.
      Aenean eu placerat sem. Suspendisse quis egestas ligula.
      Donec posuere metus nec nisi pulvinar, in convallis lectus interdum.
      Cras vulputate tincidunt pellentesque. Cras suscipit elit eget ipsum malesuada sagittis.
      Donec vitae turpis sapien. Nulla malesuada est a condimentum vulputate.
      Quisque quam diam, volutpat eu felis eget, tincidunt gravida elit.</p>
  </article>

